<%- include("partials/header") %>

<div class="container">
    <h1>MOVIES</h1>
    <div class="row">
    <% movies["Search"].forEach(movie => { %>
        
        <div class="col-3">
            <h1><%= movie.Title%></h1>
            <% if(movie.Poster !== 'N/A') {%>
            <img src=<%=movie.Poster%> class="img-fluid">
            <%}else {%>
            <h3>SORRY NO IMAGE</h3>
            <%}%>
        </div>
    <% }); %> 
    </div>
</div>

<%- include("partials/footer") %>