<%- include("partials/header") %>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item col">
         <%= movies %> 
        </li>
    </ul>
</div>

<%- include("partials/footer") %>